* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 50px 0px;
  background-color: #cbc3e3;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.app {
  width: 1000px;
  margin: auto auto;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 100;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
}

.projects-list #project {
  width: 300px;
  height: 300px;
}

#project img {
  width: 300px;
  height: 300px;
  border-radius: 25px;
}

#project img:hover {
  border: 3px purple solid;
  opacity: 50%;
}

@media (max-width: 400px) {
  body {
    margin-bottom: 50px;
  }
  .app {
    width: 300px;
    margin: auto auto;
  }
}
