* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #cbc3e3;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.app {
  width: 120rem;
  margin: auto;
  font-weight: 300;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
  border: 1px red solid;
}

.projects-list #project {
  width: 35rem;
  height: 30rem;
}
#project {
  position: relative;
}

#project img {
  width: 35rem;
  height: 30rem;
  border-radius: 1rem;
  position: absolute;
  object-fit: cover;
}

/* HOVER CAPTION */

.image-caption {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(203, 195, 227, 0.9);
  border-radius: 1rem;
  border: 0.2rem purple solid;
  position: absolute;
  opacity: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.4rem;
  line-height: 4rem;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
}

#project:hover .image-caption {
  opacity: 1;
}

footer {
  height: 5rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 5rem;
}

footer a {
  color: black;
}
