* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  background-color: #292738;
  font-family: 'Inter', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.9rem;
}

#container h1 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 160%;
  padding-inline: 4.8rem;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
}

section {
  padding: 29px 48px;
  background: #363447;
  box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: fit-content;
}

.circle-blank {
  display: block;
  background: #4a4556;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
}

.circle-sales {
  display: block;
  background: linear-gradient(121.94deg, #ce9ffc 15.98%, #7367f0 82.85%);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
}

.circle-goal {
  display: block;
  background: linear-gradient(121.94deg, #df9780 15.98%, #a66de9 82.85%);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0;
}

/* SECTION LEFT */
section.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  gap: 3.2rem;
}
section.left .smile {
  color: #81fbb8;
  font-size: 50px;
}
section.left .smile i {
  font-size: 3.2rem;
}
/* SECTION MIDDLE */
section.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  align-items: center;
}
/* SECTION RIGHT */
section.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  align-items: center;
}
/* SECTION GOALS */
.donut {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-radius: 50%; */
  height: 19.7rem;
  width: 19.7rem;
  /* border: 30px solid #4a4556; */
  /* margin: 0; */
}
.donut.dsales {
  background-image: url(./assets/svg/sales.svg);
}
.donut.dgoal {
  background-image: url(./assets/svg/goal.svg);
}
.donut span {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 160%;
}
.donut p {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
}
.goals {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.goal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

#container {
  width: fit-content;
  display: flex;
  gap: 3.2rem;
  justify-content: center;
}

#container2 h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: #ffffff;
}

#wrapper {
  padding: 29px 48px;
  background: #363447;
  box-shadow: 3px 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 116rem;
}

.analysis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

#data {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.arrow {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.ph-arrow-fat-up-fill {
  color: #81fbb8;
}

.ph-arrow-fat-down-fill {
  color: #feb692;
}

#graph {
  display: flex;
  gap: 5.9rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

#graph .horizontal-line {
  width: 523px;
  height: 3px;
  left: 0px;
  top: calc(50% - 3px / 2 - 0.5px);
  background: #4a4556;
  border-radius: 999px;
  position: absolute;
  z-index: 0;
}

.graph-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  z-index: 1;
}

.bar {
  width: 1.5rem;
  background: linear-gradient(180deg, #90f7ec 0%, #32ccbc 100%);
  border-radius: 999px;
}

.dom {
  height: 4rem;
}
.seg {
  height: 11.5rem;
}
.ter {
  height: 7.5rem;
}
.qua {
  height: 16rem;
}
.qui {
  height: 13rem;
}
.sex {
  height: 12rem;
}
.sab {
  height: 7rem;
}
