* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'Raleway';
  --body-background: #151515;
  --slider-backgroud: #d9d9d9;
  --white: #ffffff;
  --test: #40bfbf;
}

body {
  background-color: var(--body-background);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 100vh;
  padding-bottom: 5rem;
}

body * {
}
h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.375rem;
}

i {
  font-size: 1.5625rem;
  text-align: left;
}

span {
  width: fit-content;
  text-align: right;
}

.colorDisplay {
  margin-top: -35rem;
  width: 52rem;
  height: 52rem;
  border-radius: 999px;
  background-color: hsl(185, 50%, 50%);
  box-shadow: 0px 0px 53px 13px hsl(185, 50%, 50%);
}

.colorsNumbers {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 2.375rem;
  gap: 0.2rem;
}

.colorAdjusts {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 20rem;
}

.colorAdjusts .palette {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

/* slider */
.slidecontainer {
  display: grid;
  width: 100%;
}

.slider {
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: var(--slider-backgroud);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider.hue {
  background: url(./assets/Hue.svg);
  object-fit: cover;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--body-background);
  border: 2px solid var(--white);
  cursor: pointer;
}

.slider.hue::-webkit-slider-thumb {
  background-color: var(--body-background);
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--background);
  cursor: pointer;
}

@media (max-width: 45rem) {
  body {
    padding-bottom: 1rem;
  }
}
